body {
    background-image: url("backgroundMobile.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overscroll-behavior: contain;
    margin-bottom: 40px;
    padding-bottom: 100px;
    align-content: center;
    justify-content: center;
}

html {
    overflow: hidden;
    height: 100%;
}


h2 {
    color: rgb(255, 247, 230);
    font-size: 48px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 5px;
}

h3 {
    color: rgb(255, 247, 230);
    font-size: 26px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 3px;
}

h4 {
    font-size: 18px;
    color: rgb(255, 247, 230);
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 3px;
}

.header {
    justify-content: center;
    display: flex;
}

.addUser {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
}

.top {
    margin-top: 50px;
}

.input-group {
    width: 360px;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

button {
    margin-left: 295px;
    margin-top: 10px;
}



@media (min-width: 600px){
    body {
        background-image: url("backgroundDesktop.png"); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        overscroll-behavior: contain;
        margin-bottom: 40px;
        padding-bottom: 100px;
        align-content: center;
        justify-content: center;
    }

    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 45px;
    }

    .top {
        margin-top: 100px;
    }
}