body {
    background-image: url("backgroundMobile.png"); 
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    padding-bottom: 50px;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

h2 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px grey;
    font-size: 44px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 7px;
}

.header {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.top {
    margin-top: 35px;
}

button {
    margin-top: 10px;
}

.date {
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 5px;
}

img {
    height: 75px;
    width: 75px;
}

.modal {
    margin-top: 100px;
    color: rgb(51, 51, 51);
}

.modal-body {
    font-family: 'Cutive Mono', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
}

.modal-title {
    font-family: 'Cutive Mono', monospace;
}

.button {
    background-color: transparent;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.row {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
}

a:hover {
    color: white;
    text-shadow: 2px 2px rgb(141, 68, 39)
}

.bottom {
    color: white;
    margin-top: 40px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 3px;
    font-size: 10px;
}


@media (min-width: 600px){
    body {
        background-image: url("backgroundDesktop.png");
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        overscroll-behavior: contain;
        margin-bottom: 40px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 90px;
    }

    .header {
        margin-top: 30px;
    }

    img {
        height: 130px;
        width: 130px;
        margin-top: 15px;
    }

    .modal {
        margin-top: 200px;
    }

    .modal-body {
        font-size: 16px;
    }

    .navbar {
        margin-left: 360px;
        margin-right: 360px;
    }

    .date {
        font-size: 16px;
    }

    .bottom {
        font-size: 14px;
    }
}